* {
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  padding: 4px;
  background-color: #fcfcfc;
  border-bottom: solid 1px #e3e3e3;
}

p, code, li{
  margin: 1rem 0;
}

.center-text {
  text-align: center;
}

main {
  padding-top: 40px;
  background-color: #efefef;
  min-height: 100vh;
}

.boards {
  display: flex;
  margin: auto;
  min-height: 90vh;
  width: 80%;
}

.board {
  background-color: #86aa74;
  width: 50%;
  margin: 6px;
  padding: 20px;
  border-radius: 4px;
}

pre {
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: rgba(23, 46, 55, 0.80);
}

td, th {
  padding: 8px;
  background-color: #DDD;
  border-radius: 2px;
}

#editor {
  background-color: #ffffff;
  margin: 6px;
  padding: 20px;
  border: none;
  resize: none;
  border-radius: 20px;
  width: 50%;
}
